header, footer, aside, nav, form, iframe, .menu, .hero, .adslot {
    display: none;
}

* {
    color-adjust: exact;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}

article {
    column-width: 17em;
    column-gap: 3em;
}

/* Display url info
*/
/*
a[href^="http"]:not(.no-link)::after {
    content: "    (" attr(href) ")";
}
*/

/*
Append a message
*/
#main::after {
    content: "Copyright 2019 Adamus IT";
    display: block;
    text-align: left;
    font-size: 10px;
    margin-top: 100px;
    margin-bottom: 100px;
}

/* target all pages */
@page {
    margin: 0cm;
}
#main { margin: 1.6cm; }
.table-bordered th, .table-bordered td {
    border: 2px solid #aaaaaa !important;
}

body {
    color: #ffffff;
}
html, body {
    height: auto;
    font-size: 16pt; /* changing to 10pt has no impact */
}