/*
body
{
    !* Font *!
    font-family: "Calibri Light", Calibri, sans-serif, Arial, Verdana, "Trebuchet MS";
    font-size: 11pt;

    !* Text color *!
    color: #333;

    !* Remove the background color to make it transparent *!
    background-color: #fff;

   !* margin: 20px;*!
}
*/

table, table tr td {
    border: 1px solid black;
}

table {
    border: 1px solid black;
}

/*ul {
    list-style: none;
}

ul li:before {
    content: "•";
    font-size: 150%; !* or whatever *!
    padding-right: 5px;
}*/

img {
    max-width: 100%;
    height: auto;
}

.page-break {
    background: url('images/pagebreak.gif') no-repeat center center;
    clear: both;
    width: 100%;
    border-top: #999 1px dotted;
    border-bottom: #999 1px dotted;
    padding: 1px;
    height: 4px;
    cursor: default;
}

.document-editor {
    width: 21cm;
    min-height: 29.7cm;
    padding: 1cm 1cm 2cm;
    margin: 0.5cm auto;
    border: 1px #D3D3D3 solid;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-size: 12pt;
    line-height: 2;
    font-family: "Nunito Sans", Verdana, Helvetica, sans-serif;
}

@media print {
    .page-break {
        opacity: 0 !important;
    }

    body.document-editor {
        border: 0;
        box-shadow: none;
    }
}

