<IfModule rewrite_module>
  Options -MultiViews
  RewriteEngine on
  RewriteRule ^$ public/ [L,QSA]
  RewriteRule ^(.*)$ public/$1 [L,QSA]
</IfModule>
php_flag display_errors On
php_value date.timezone 'Africa/Accra'
php_flag xdebug.remote_autostart On