<IfModule rewrite_module>
  Options -MultiViews
  RewriteEngine on
  RewriteRule ^$ public/ [L,QSA]
  RewriteRule ^(.*)$ public/$1 [L,QSA]
</IfModule>
php_flag display_errors On
php_value date.timezone 'Africa/Accra'
php_flag file_uploads On
php_value upload_max_filesize 100M
php_value post_max_size 105M
php_value xdebug.remote_mode  req
php_flag xdebug.remote_enable On
php_flag xdebug.remote_autostart On