<IfModule rewrite_module>
  Options -Multiviews
  RewriteEngine On
  #RewriteBase /public
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_URI} !\.(?:css|js|jpe?g|gif|png|map|pdf|txt|docx|doc|ppt|pptx)$ [NC]
  RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]
</IfModule>
<IfModule mime_module>
  AddType text/css .css
  AddType text/javascript .js
</IfModule>
SetEnv no-gzip dont-vary

<IfModule mod_mime.c>
	AddType application/x-javascript .js
	AddType text/css .css
</IfModule>
<IfModule mod_deflate.c>
	AddOutputFilterByType DEFLATE text/css application/x-javascript text/x-component text/html text/plain text/xml application/javascript
	<IfModule mod_setenvif.c>
		BrowserMatch ^Mozilla/4 gzip-only-text/html
		BrowserMatch ^Mozilla/4.0[678] no-gzip
		BrowserMatch bMSIE !no-gzip !gzip-only-text/html
	</IfModule>
</IfModule>
Header append Vary User-Agent env=!dont-vary