<script id="chart-s" type="text/x-kendo-template">
    <span title="New Chart" class="k-widget k-dropdown" unselectable="on" role="listbox" aria-haspopup="true"
          aria-expanded="false" tabindex="0"
          aria-label="New Chart" aria-live="polite" aria-disabled="false" aria-busy="false" style="width: auto;">
        <span unselectable="on" class="k-dropdown-wrap k-state-default">
            <span unselectable="on" class="k-input">
                <span class="fa fa-chart-bar" style="line-height: 1em; width: 1.35em;"></span>
            </span>
            <span unselectable="on" class="k-select" aria-label="select">
                <span class="k-icon k-i-arrow-60-down"></span>
            </span>
        </span>
        <select title="New Chart" aria-label="New Chart" data-role="dropdownlist" style="display: none;">
            <option value="Bar Chart">Bar Chart</option>
            <option value="Text">Text</option>
            <option value="Number">Number</option>
    </select>
    </span>
</script>

<script id="chartsMenuTemplate" type="text/x-kendo-template">
    <a href='\\#' class='k-button k-button-icon px-4' id="chartsMenuButton" title="Charts" data-tool='charts'><span
            class='fa fa-chart-bar mx-1'></span> <span class='k-icon k-i-arrow-60-down'></span></a>
    <div id="chartsMenuPopup">
        <select id="chartsMenuListBox">
        </select>
    </div>
</script>

<script id="copyToEditor" type="text/x-kendo-template">
    <a href='\\#' class='k-button k-button-icon px-4' id="copyToEditorButton" title="Copy To Editor"
       data-tool='copyToEditor'><span class='fa fa-clipboard mx-1'></span></a>
</script>

<script id="openSubmissionContent" type="text/x-kendo-template">
    <form id="openSubmissionForm" class="demo-section k-content"
          action="<?php echo URL_ROOT . '/pages/open-submission/' ?>">
        <h4><label for="targetYear">Target Year</label></h4>
        <input id="targetYear" class="k-input" readonly placeholder="Target Year" style="width: 100%;" name="target_year" value="<?php echo date('Y'); ?>"/>
        <h4 style="margin-top: 1.5em;"><label for="targetMonth">Target Month</label></h4>
        <input id="targetMonth" class="k-input" placeholder="Select Target Month" style="width: 100%;" name="target_month" value="<?php echo date('F'); ?>"/>
        <!--<button class="k-button k-primary" style="margin-top: 2em; float: right;">
            Submit
        </button>-->
    </form>
</script>

<script id="confirmationTemplate" type="text/x-kendo-template">
    <div class="popupMessage"></div>
    </br>

    <div class="dialog_buttons">
        <input type="button" class="confirm_yes k-button" value="Yes" style="width: 70px" />
        &nbsp;
        <input type="button" class="confirm_no k-button" value="No" style="width: 70px" />
    </div>
</script>